<div>
    <mat-table [dataSource]="payment" style="width:1000px">

        <ng-container matColumnDef="memberid" >
          <mat-header-cell *matHeaderCellDef >ID</mat-header-cell>
          <mat-cell *matCellDef="let element" > {{element.pmId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef s> Username </mat-header-cell>
          <mat-cell *matCellDef="let element" > {{element.datePay}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="firstname">
          <mat-header-cell *matHeaderCellDef > Firstname </mat-header-cell>
          <mat-cell *matCellDef="let element" > {{element.typePay}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="surname">
          <mat-header-cell *matHeaderCellDef > Surname </mat-header-cell>
          <mat-cell *matCellDef="let element" > {{element.customer.customerName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="membertype">
          <mat-header-cell *matHeaderCellDef> MemberType </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.statusPay}} </mat-cell>
        </ng-container>



        <mat-header-row *matHeaderRowDef="displayedColumns" style="margin:0px"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

      </mat-table>
</div>
