<body bgcolor="#ffc0cb">
  <div align="center">
    {{CurrentDate | date}}
  <form class="example-form">
    <mat-form-field class="example-full-width">
          <mat-select placeholder="idUser" [value]="searchData.userId" [(ngModel)]="searchData.userId" name="userid">
          <mat-option *ngFor="let iduser of idusers" [value]="iduser.customerID">
            {{iduser.customerID}}
          </mat-option>
          </mat-select>
    </mat-form-field>
    </form>
</div>

<fieldset>
  <legend>Order</legend>
  <fieldset>
    <legend>Sell And Lease Mack up and hair style</legend>
    <div align="center"><p> UserId: {{searchData.userId}}</p></div>

<div class="selected" align="center">

  <button mat-raised-button (click)="searchId()" color="warn">Search</button>

  <table mat-table [dataSource]="leases"  class="mat-elevation-z8">
    <ng-container matColumnDef="customerID">
      <th mat-header-cell *matHeaderCellDef> customerID </th>
      <td mat-cell *matCellDef="let element"> {{element.customer.customerID}} </td>
    </ng-container>

    <ng-container matColumnDef="CustomerName">
      <th mat-header-cell *matHeaderCellDef> CustomerName </th>
      <td mat-cell *matCellDef="let element"> {{element.customer.customerName}} </td>
    </ng-container>

    <ng-container matColumnDef="LeaseName">
      <th mat-header-cell *matHeaderCellDef> OrderName </th>
      <td mat-cell *matCellDef="let element"> {{element.leaseIDs}} </td>
    </ng-container>

    <ng-container matColumnDef="LeasePrice">
      <th mat-header-cell *matHeaderCellDef> OrderPrice </th>
      <td mat-cell *matCellDef="let element"> {{element.leasePrice}} </td>
    </ng-container>

    <ng-container matColumnDef="LeaseStatus">
      <th mat-header-cell *matHeaderCellDef> OrderStatus </th>
      <td mat-cell *matCellDef="let element"> {{element.statusLease}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="ColumnLease"></tr>
    <tr mat-row *matRowDef="let row; columns: ColumnLease;"></tr>
  </table>

<br>
      <button mat-stroked-button color="PayS" (click)="paymentButtom()">Pay</button>
</div>

  </fieldset>

  </fieldset>



</body>
